<!DOCTYPE html>
<html lang="ko-kr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="with=device-width, intial-scale=1.0">
	<title>{% block title %}ETPB{% endblock %} - Easy To Play Boardgames</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
	<div id="main-content">
		<nav>
			<a href="#" id="menu-button">MENU</a>
			<h1><a href="{{ url_for('main') }}">Easy To Play Boardgames</a></h1>
			<div id="side-menu" class="side-menu">
				<a href="#" class="close-button" id="close-button">&times;</a>
				<!-- Add menu items -->
				<a href="{{ url_for('main')}}">Home</a>
				<a href="{{ url_for('game.index')}}">Games</a>
				<a href="{{ url_for('forum.index')}}">Forum</a>
				<a href="{{ url_for('crud.users')}}">User List</a>
				{% if current_user.is_authenticated %}
				<a href="{{ url_for('crud.own')}}">My Page</a>
				{% endif %}
				<!-- Add menu items -->
			</div>
			<div class="navbar-nav">
				<ul>
					<li>
						{% if current_user.is_authenticated %}
						<a href="{{ url_for('crud.own') }}">
							{{ current_user.username }}
						</a>
					</li>
					<li>
						<a href="{{ url_for('auth.logout') }}" class="nav-link">log out</a>
					</li>
				</ul>
				{% else %}
				<ul>
					<li>
						<a class="nav-link" href="{{ url_for('auth.register') }}">register</a>
					</li>&nbsp;&nbsp;&nbsp;
					<li>
						<a class="nav-link" href="{{ url_for('auth.login') }}">log in</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		
		<section class="content">
			{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		{% endfor %}
		{% block content %}{% endblock %}
   		</section>
</div>
</body>
</html>
