{% extends 'home/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="p-3" style="height: auto; margin-bottom: 10px;">
	<h2>Home</h2><hr>
		<div class="card" style="height: auto; margin-bottom: 5px;">
			{% if game %}
				<iframe src="{{ url_for('game.show_game', game_id=game.id, filename='index.html') }}" 
						style="width: 100%; height: 80vh; border: none;">
					지원하지 않는 브라우저입니다.
				</iframe><br>
				<details>
					<summary style="font-size:x-large;">게임 설명 보기</summary>
					<p>
						{{ game.description }}
					</p>
				</details><br>
			{% else %}
				<img src="{{ url_for('static', filename='banner.png') }}" style="width: 100%; height: auto;">
				<p>실행 중인 게임 없음 <a href="{{ url_for('game.index') }}">more</a></p>
			{% endif %}
		</div>

	<div class="d-flex flex-row">
		<div class="card col-md-6">
			<h2>Forum</h2>
			<a href="{{ url_for('forum.index') }}">more</a><hr>
			{% if posts %}
				{% for post in posts[:4] %}
				<article class="post">
					<header>
						<div>
							<h3>{{ post.title }}</h3>
							<div class="about">by {{ post.user.username }} on {{ post.created_at.strftime('%m/%d %H:%M') }}</div>
						</div>
						{% if current_user.is_authenticated and current_user.id == post.user.id %}
						<a class="action" href="{{ url_for('forum.edit_post', post_id=post.id) }}">Edit</a>
						{% endif %}
					</header>
					<p class="body">{{ post.body }}</p>
				</article>
				{% if not loop.last %}
				<hr>
				{% endif %}
				{% endfor %}
			{% else %}
			<p>포스트 없음</p>
			{% endif %}
		</div>
	<div class="card col-md-6">
		<h2>User Chat</h2>
		<iframe src="{{ url_for('chat.index') }}" style="width:100%; height:400px; border:none;"></iframe>
		<h2>User List</h2>
		<a href="{{ url_for('crud.users') }}">more</a>
		<hr>
		{% if users %}
		<table>
			<tr>
				<th>username</th>
				<th>e-mail</th>
			</tr>
			{% for user in users %}
			<tr>
				<td>{{ user.username }}</td>
				<td>{{ user.masked_email }}</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>사용자 없음</p>
		{% endif %}
	</div>
</div>
{% endblock %}