 <!-- <form action="{{ url_for('chat.create') }}" method="POST" novalidate="novalidate">
		{{ form.csrf_token }}
		<p>
			{{ form.name.label }} {{ form.name(placeholder="name") }}
		</p>
		{% for error in form.name.errors %}
		<p>
			<span style="color: red;">{{ error }}</span>
			{% endfor %}
			{{ form.room.label }} {{ form.room(placeholder="room") }}
		</p>
		{% for error in form.room.errors %}
		<span style="color: red;">{{ error }}</span>
		{% endfor %}
		<p>
			{{ form.submit() }}
		</p> -->