{% extends 'base.html' %}


{% block header %}
<h2>
  {% block title %}Home{% endblock %}
</h2>
{% endblock %}

{% block content %}
<div style="width: 1024px; height: 600px; margin-bottom: 20px;">
  
</div>

<div>
  <h2> Forum</h2>
    {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['userId'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['user_id'] %}
          <a class="action" href="{{ url_for('forum.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}