{% extends "home/base.html" %}
{% block title %}Games{% endblock %}
{%block content %}
<div class="p-3">
<h2>Game Upload</h2><hr>
<form action="{{ url_for('game.upload_file') }}" method="post" enctype="multipart/form-data">
	{{ form.csrf_token }}
	<p>
		<input type="file" name="file" id="file" accrpt=".html,.css,.js,.png,.jpg,.jpeg">
	</p>
	<p><input type="submit" value="upload"></p>
</form>
{% for error in form.game.errors %}
    <span style="color: red">{{ error }}</span>
{% endfor %}
    <p>{{ form.submit() }}</p>
{% endblock %}